<div id="mainDiv" class="bg-[#A89B9D] p-6 rounded-lg shadow-md max-w-lg mx-auto">
    <h2 class="text-2xl font-bold text-center">Log in</h2>
    <p class="text-center">Please login to access your account</p>
    <div class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
        <form id="loginForm">
            <div class="mb-6">
                <label class="block mb-4 text-[#2A2C24] font-bold">Email</label>
                <input class="block w-full text-[#575A4B] font-bold px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-[#A89B9D]" type="email" name="email" required>
            </div>
            <div class="mb-6">
                <label class="block mb-4 text-[#2A2C24] font-bold">Password</label>
                <input class="block w-full text-[#575A4B] font-bold px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-[#A89B9D]" type="password" name="password" required>
            </div>
            <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded" hx-post="/ethansStuff" hx-ext="json-enc" hx-target="#auth-message">Log in</button>
        </form>
        <div id="auth-message" class="mb-4"></div>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:afterRequest', function(evt) {
        if (evt.detail.target === document.getElementById('auth-message')) {
            handleAuthResponse(evt, 'Login');
        }
    });

    function handleAuthResponse(evt, action) {
        var authMessage = document.getElementById('auth-message');
        if (evt.detail.xhr.status >= 200 && evt.detail.xhr.status < 300) {
            var responseText = evt.detail.xhr.responseText;
            var response = JSON.parse(responseText);
            var token = response.token;
            if (!token) {
                authMessage.textContent = 'User registered, please login.';
                authMessage.classList.remove('text-red-500');
                authMessage.classList.add('text-green-500');
                return;
            }
            localStorage.setItem('token', token);
            
            authMessage.textContent = action + ' successful. Redirecting...';
            authMessage.classList.remove('text-red-500');
            authMessage.classList.add('text-green-500');
            setTimeout(function() {
                window.location.href = '/';
            }, 1000);
        } else {
            authMessage.textContent = 'Error: ' + evt.detail.xhr.responseText;
            authMessage.classList.remove('text-green-500');
            authMessage.classList.add('text-red-500');
        }
    }
</script>
