<div id="mainDiv" class="container mx-auto py-8 px-4 my-5">
    <div class="bg-[#A89B9D] p-6 rounded-lg shadow-md max-w-lg mx-auto">
        <h2 class="text-2xl font-bold mb-6 flex justify-center">User Profile</h2>
        <form id="signupForm">
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Name</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="name" type="text">
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Email</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="email" type="email">
                </div>
            </div>
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Password</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="zip" type="password">
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Phone</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="phone" type="phone">
                </div>
            </div>
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Address</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="address" type="address">
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">City</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="city" type="city">
                </div>
            </div>
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">State</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="state" type="state">
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Zip</label>
                    <input class="w-full font-bold py-2 px-3 rounded bg-[#cfcfea]" name="zip" type="zip">
                </div>
            </div>
            <div class="mt-6 flex justify-center">
                <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded" type="submit" hx-post="/user" hx-include="#signupForm" hx-target="#mainDiv">
                    Sign up
                </button>
            </div>
        </form>
    </div>
</div>
