<div id="mainDiv" class="bg-[#A89B9D] p-6 rounded-lg shadow-md max-w-lg mx-auto my-5">
    <h2 class="text-2xl  font-bold text-center">Employees</h1>
        <div>
            <table class="table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">ID</th>
                        <th class="px-4 py-2">Status</th>
                        <th class="px-4 py-2">Marital Status</th>
                        <th class="px-4 py-2">Dependents</th>
                        <th class="px-4 py-2">Employment Status</th>
                        <th class="px-4 py-2">Estimated Income</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Cases}}
                    <tr>
                        <td class="px-4 py-2"><a href="/case/{{.Case_id}}">{{.Case_id}}</a></td>
                        <th class="px-4 py-2">{{.Case_status}}</th>
                        <th class="px-4 py-2">{{.Marital_status}}</th>
                        <th class="px-4 py-2">{{.Dependents}}</th>
                        <th class="px-4 py-2">{{.Employment_status}}</th>
                        <th class="px-4 py-2">{{.Estimated_income}}</th>
                        <td>
                            <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded" hx-put="/case/{{.id}}">Add</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
</div>