<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
        <title>TaxarificHomePage</title>
    </head>

    <body>
        <header>
            <div class="container mx-auto ">
                <h1 class="text-4xl font-bold text-center">Taxarific</hh1>
                <nav class="flex justify-center mt-4">
                    <a href="/login" class="mx-2">Login</a>
                    <a href="/signup" class="mx-2">Sign Up</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="container mx-auto mt-8">
                <h2 class="text-2xl font-bold text-center">Welcome to Taxarific</h2>
                <p class="text-center">Taxarific is a company that aimes to help make your taxes fast and easy. Employing accountants to do the work behind the sceans</p>
                <div class="flex justify-center mt-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" hx-get="/tax/submit">Get Started</button>
                <div>
            </div>
        </main>
        <footer>
            <div class="container mx-auto mt-8">
                <p class="text-center">2024 Taxarific . No rights reserved.</p>
            </div>
    </body>
</html>