<div id="mainDiv" class="bg-[#A89B9D] rounded-xl container mx-auto mt-8 items-center w-fit">
    <h2 class="text-2xl  font-bold text-center">Login</h2>
    <p class="text-center">Please login to access your account</p>
    <div class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
        <form id="loginForm" hx-post="/login">
            <div class="mb-6">
                <label class="block mb-4 text-[#2A2C24] font-bold">Email</label>
                <input class="block w-full text-[#575A4B] font-bold px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-[#A89B9D]" type="email" name="email" required>
            </div>
            <div class="mb-6">
                <label class="block mb-4 text-[#2A2C24] font-bold">Password</label>
                <input class="block w-full text-[#575A4B] font-bold px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-[#A89B9D]" type="password" name="password" required>
            </div>
            <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded" type="submit" hx-get="/start" hx-target="#mainDiv">Login</button>
        </form>
</div>