<div id="mainDiv" class="container mx-auto py-8 px-4">
    <div class="bg-[#A89B9D] p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 flex justify-center">User Profile</h2>
        <form id="profileForm">
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Name</label>
                    <input class="  font-bold py-2 px-3 rounded bg-[#cfcfea]" name="name" type="text" value="{{.Name}}">
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Email</label>
                    <input class="font-bold py-2 px-3 rounded bg-[#cfcfea]" name="email" type="email" value="{{.Email}}">
                </div>
            </div>

            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Phone</label>
                    <input class="font-bold py-2 px-3 rounded bg-[#cfcfea]" name="phone" type="text" value="{{.Phone}}">
                </div>
                <div class="2-1/2">
                    <label class="block text-sm font-bold mb-2">Address</label>
                    <input class="font-bold py-2 px-3 rounded bg-[#cfcfea]" name="address" type="text" value="{{.Address}}">
                </div>
            </div>
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">City</label>
                    <input class="font-bold py-2 px-3 rounded bg-[#cfcfea]" name="city" type="text" value="{{.City}}">
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">State</label>
                    <input class="font-bold py-2 px-3 rounded bg-[#cfcfea]" name="state" type="text" value="{{.State}}">
                </div>
            </div>
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Zip</label>
                    <input class="font-bold py-2 px-3 rounded bg-[#cfcfea]" name="zip" type="text" value="{{.Zip}}">
                </div>
                <div class="w-1/2"></div>
            </div>
            <div class="mb-6 flex space-x-4">
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Account Created</label>
                    <p class="">{{.CreatedAt.Format "Jan 2, 2006"}}</p>
                </div>
                <div class="w-1/2">
                    <label class="block text-sm font-bold mb-2">Last Updated</label>
                    <p class="">{{.UpdatedAt.Format "Jan 2, 2006"}}</p>
                </div>
            </div>
            <div class="mt-6 flex justify-center">
                <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded" type="submit" hx-patch="/profile" hx-include="#profileForm" hx-target="#mainDiv">
                    Save Changes
                </button>
                <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded" hx-get="/profile" hx-target="#mainDiv">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
