<div id="mainDiv" class="bg-[#A89B9D] p-6 rounded-lg shadow-md max-w-lg mx-auto">
    <div class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
        <form id="fileForm" class="w-full max-w-lg" hx-encoding="multipart/form-data">
            <input class="block w-full text-[#575A4B] font-bold px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-[#A89B9D]" type="file" id="file-upload" name="files" multiple>
            <button class="bg-[#575A4B] hover:bg-[#A89B9D] hover:text-[#2A2C24] text-[#CFCFEA] font-bold py-2 px-4 rounded mt-4" type="submit" hx-include="#fileForm" hx-post="/tax/upload" hx-target="#successMessage">Submit Files</button>
            <progress id='progress' value='0' max='100'></progress>
        </form>
        <div id="successMessage" class="mb-4"></div>
        <script>
            htmx.on('#fileForm', 'htmx:xhr:progress', function(evt) {
                if(evt.detail.total > 0) {
                htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
                }
            });
        </script>
    </div>
</div>
